* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;
    background: #cdc8b1;
  }

header {
    background: #252217;
    height: auto;
    width: 100%;
    
}

.inicio{
    width: 70%;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
    
} 

h1{
    color: #fff;
    font-size: 5em;
    margin: 30px 0;
    
}

span{
    color: #af670a;
}

#imagem{
    width: 50%;
    margin: 0 auto;
    
}

img.img-emprego{
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}

p.textoHome{
    color: #fff;
    font-size: 1.5em;
    padding: 30px 10px;

}


h2{
    text-align: center;
    color: #af670a;
    margin-top: 50px;
}

.formulario{
    width: 100%;
}

#cadastroform{
    display: flex;
    align-items: center; 
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.form-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 700px;
    margin: 5px;
       
}

label{
    display: block;
}

fieldset {
    border: none;
}


button {
    width: 10em;
    padding: 5px;
    margin: 20px auto;
    background: #af670a;
    color: #fff;
    font-size: 1.1em;
}

button:hover{
    color: #111;
}

button:active{
    color: #fff;
    background: #252217;
}

#container_enviado{
    background: #252217;
    width: 100%;
    text-align: center;
}
#container_enviado a{
    color: #af670a;
    font-size: 1.5em;
    text-decoration: none;
}
#container_enviado a:hover{
    color:#fff;
    text-decoration: underline;
}

#name, #rua, #email, #cargo {
    width: 18.75rem;
}

#cep{
    width: 7.5rem;
}


/* Responsividade */
@media (max-width: 768px){

    h1{
        font-size: 3em;
    }
    h2{
        text-align: center;
    }

    header {
        justify-content: center;
    }

    img {
        display: none;
    }
    
    form {
        width: 85%;
    }

    .form-row{
        flex-wrap: wrap;
        margin: 5px;
        width: 95%;
    }

    p.textoHome{
        font-size: 1.1em;
    }

    input{
        margin-bottom: 5px;
    }

    button {
        width: 30%;
        margin: 20px auto;
    }

}

